<html>
    <head>
            <script type="text/javascript" src=" https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
            <script type="text/javascript" src=" src/coTest.js"></script>
            <script type="text/javascript" src=" src/script.js"></script>
    </head>
    <body ng-app="testComparaOnline">
        <div ng-controller="principal">
            <div ng-repeat="dia in listaProductos">
               <h4>Día: {{dia.day}}</h4> 
               <table>
                   <tr>
                       <th></th>
                       <th>Sell In</th>
                       <th>Price</th>
                   </tr>
                   <tr ng-repeat="producto in dia.products">
                       <td>{{producto.name}}</td>
                       <td>{{producto.sellIn}}</td>
                       <td>{{producto.price}}</td>
                   </tr>
               </table>
            </div>
        </div>
    </body>
</html>